@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
body  {
  margin:1em;
}

.controls{
  background:#ccc;
  border:1px solid black;
  border-radius:.2em;
  padding:.5em;
  width:inherit;
  display:inline-block;
  padding-bottom:1em;
}

.controls > div > input{
  display:block
}

.controls > div{
  display:inline-block;
  vertical-align: top;
  padding-left:1em;
  padding-right:1em;
}
