
[

{# COMMENT: Following for loops permutate through the populated lists #}
{% for y_types in y_types -%}
{% for mark_split in mark_split -%}
{% for mark_arrange in mark_arrange -%}
{% for mark_summarizeY in mark_summarizeY -%}


  {
    "label": "Y:{{ y_types }}, Split:{{ mark_split }}, Arrange:{{ mark_arrange}}, summarizeY: {{ mark_summarizeY }} Bin: null",    
	"notes": "Plotting {{ x_label }} against {{ y_label }}",
    "tests": [],
    "settings": {
      "max_width":500,
      "x": {
        "column": "{{ x_column }}",
        "type": "ordinal",
        "label": "{{ x_label }}"
      },
      "y": {
        "column": "{{ y_column }}",
        "type": "{{ y_types }}",
        "label": "{{ y_label }}"
		},
      "marks": [
        {
		  "per": ["weight"],
		  {# COMMENT: below statement is to ensure "summarize" mark is used properly #}
		  {% if y_type == "linear" -%}
		  "summarizeY":"{{ mark_summarizeY }}",
		  {% elif y_type == "log" -%}
		  "summarizeY":"{{ mark_summarizeY }}",
		  {% endif -%}
		  "split":"{{ mark_split }}",
		  "arrange":"{{ mark_arrange }}",
          "type": "{{ mark_type }}"        
		}
      ]
    },
    "dataPath": "../../data/ChickWeight.csv"
  },


{# COMMENT: End the for loops seen at the top of the template #}
{% endfor -%}
{% endfor -%}
{% endfor -%}
{% endfor -%}



{# COMMENT: Testing of Y axis ORDINAL below #}
{% for x_types in x_types -%}
{% for mark_split in mark_split -%}
{% for mark_arrange in mark_arrange -%}
{% for mark_summarizeX in mark_summarizeX -%}


  {
    "label": "X:{{ x_types }}, Split:{{ mark_split }}, Arrange:{{ mark_arrange}}, summarizeX: {{ mark_summarizeX }} Bin: null",        
	"notes": "Plotting {{ x_label }} against {{ y_label }}",
    "tests": [],
    "settings": {
      "max_width":500,
      "x": {
        "column": "weight",
        "type": "{{ x_types }}",
        "label": "weight"
      },
      "y": {
        "column": "{{ Chick }}",
        "type": "ordinal",
        "label": "Chick"
      },
      "marks": [
        {
		  "per": ["weight"],
		  {# COMMENT: below statement is to ensure "summarize" mark is used properly #}
		  {% if x_type == "linear" -%}
		  "summarizeX":"{{ mark_summarizeX }}",
		  {% elif x_type == "log" -%}
		  "summarizeX":"{{ mark_summarizeX }}",
		  {% endif -%}
		  "split":"{{ mark_split }}",
		  "arrange":"{{ mark_arrange }}",
          "type": "{{ mark_type }}"
		}
      ]
    },
    "dataPath": "../../data/ChickWeight.csv"
  },


{# COMMENT: End the for loops seen at the top of the template #}
{% endfor -%}
{% endfor -%}
{% endfor -%}
{% endfor -%}



{# COMMENT: Testing of BIN below #}
{% for mark_split in mark_split -%}
{% for mark_arrange in mark_arrange -%}
{% for mark_summarizeY in mark_summarizeY -%}



  {
    "label": "Y:linear, Split:{{ mark_split }}, Arrange:{{ mark_arrange}}, summarizeY: {{ mark_summarizeY }}, Bin: 10",    
	"notes": "Plotting {{ x_label }} against {{ y_label }}",
    "tests": [],
    "settings": {
      "max_width":500,
      "x": {
        "column": "{{ x_column }}",
        "type": "ordinal",
        "label": "{{ x_label }}"
      },
      "y": {
        "column": "{{ y_column }}",
        "type": "linear",
        "label": "{{ y_label }}",
		"bin": "10"
		},
      "marks": [
        {
		  "per": ["weight"],
		  {# COMMENT: below statement is to ensure "summarize" mark is used properly #}
		  {% if y_type == "linear" -%}
		  "summarizeY":"{{ mark_summarizeY }}",
		  {% elif y_type == "log" -%}
		  "summarizeY":"{{ mark_summarizeY }}",
		  {% endif -%}
		  "split":"{{ mark_split }}",
		  "arrange":"{{ mark_arrange }}",
          "type": "{{ mark_type }}"        
		}
      ]
    },
    "dataPath": "../../data/ChickWeight.csv"
  },

{% endfor -%}
{% endfor -%}
{% endfor -%}


{% for mark_split in mark_split -%}
{% for mark_arrange in mark_arrange -%}
{% for mark_summarizeX in mark_summarizeX -%}



  {
    "label": "X:linear, Split:{{ mark_split }}, Arrange:{{ mark_arrange}}, summarizeX: {{ mark_summarizeX }}, Bin: 10",        
	"notes": "Plotting {{ x_label }} against {{ y_label }}",
    "tests": [],
    "settings": {
      "max_width":500,
      "x": {
        "column": "weight",
        "type": "linear",
        "label": "weight",
		"bin": "10"
      },
      "y": {
        "column": "{{ Chick }}",
        "type": "ordinal",
        "label": "Chick"
      },
      "marks": [
        {
          "type": "{{ mark_type }}",
		  "per": ["weight"],
		  {# COMMENT: below statement is to ensure "summarize" mark is used properly #}
		  {% if x_type == "linear" -%}
		  "summarizeX":"{{ mark_summarizeX }}",
		  {% elif x_type == "log" -%}
		  "summarizeX":"{{ mark_summarizeX }}",
		  {% endif -%}
		  "split":"{{ mark_split }}",
		  "arrange":"{{ mark_arrange }}"
        }
      ]
    },
    "dataPath": "../../data/ChickWeight.csv"
  },

{% endfor -%}
{% endfor -%}
{% endfor -%}
	{
		"label": "X:linear, Split:Diet, Arrange:nested, summarizeX: percent, Bin: 10",
		"notes": "Plotting chick against weight",
		"tests": [],
		"settings": {
			"max_width": 500,
			"x": {
				"column": "weight",
				"type": "linear",
				"label": "weight",
				"bin": "10"
			},
			"y": {
				"column": "",
				"type": "ordinal",
				"label": "Chick"
			},
			"marks": [{
				"type": "bar",
				"per": ["weight"],

				"split": "Diet",
				"arrange": "nested"
			}]
		},
		"dataPath": "../../data/ChickWeight.csv"
	}

]